#pageContainer{
    display: flex;
    flex-direction: row;
    margin-top: 58px;
}

#MiddleContentContainer{
    width: 100%;
    height: 4000px;
    background-color: rgb(32, 32, 37); 
}

#TopVideosContainer{
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    width: 600px;
    margin: auto;
}

.Video, #CreateVideo{
    background-color: blue;
    margin-left: 8px;
    width: 165px;
    height: 260px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#emptyTopDiv{
    height: 80%;
}

#CreateVideo{
    background-image: url(src/photos/Logo.png);
    background-size:cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

#CreateVideoPhoto{
    position: relative;
    z-index: 1;
}

#CreateVideoPhoto img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -10px;
    right: -20px;
   
    
}

#CreateVideoBottom{
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 15, 18);
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
}

#EmptyBottomDiv{
    height: 5px;
    width: 100%;
    margin-bottom: 8px;
}

#CreateVideoBottom h3{
    text-align:center;
    color: aliceblue;
    font-size: 15px;

    margin-bottom: 8px;
    padding-bottom: 8px;
}

.VideoProfilePhoto img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.VideoProfilePhoto{
    padding: 15px;
}

.Video{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.VideoName h3{
    padding-left: 10px;
    margin-bottom: 7px;
    font-size: 15px;
}

/**Main Content**/

#PostsContainer{
    display: flex;
    background-color: rgb(70, 70, 74);
    width: 500px;
    margin: auto;
    border-radius: 10px;
}

/**New Post Stuff**/

#NewPostContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(192, 187, 187);
}

#PostTextInputContainer{
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}

#PostProfilePic img{
    cursor: pointer;
    width: 40px;
    height: 40px;    
    border-radius: 50%;
    vertical-align: middle;
    
}

#PostTextField{
    cursor: pointer;
}


#PostTextField p{ 
    display: flex;
    margin-top: 4px;
    margin-bottom: 0px;
    align-items: center;
    background-color: rgb(103, 106, 111);
    font-size: 16px;
    border-radius: 20px;
    height: 40px;
    width: 425px;
    padding-left: 15px;
    border: 1px solid  rgb(103, 106, 111);}

#PostButtons{
    display: flex;
    border-top: 1px solid rgb(152, 152, 152);
    width: 470px;
    height: 60px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#LiveButton, #PhotoButton, #FeelingButton{
    margin-top: 0px;
    display: flex;
    width: 33%;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

#LiveButton:hover, #PhotoButton:hover, #FeelingButton:hover{
    background-color: brown;
}


#LiveButton img, #PhotoButton img, #FeelingButton img{
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

#FeelingsPhoto,#PhotoPostPhoto,#LivePhoto{
    margin-right: 5px;
}

#FeelingsText,#PhotoPostText,#LiveText{
    margin-right: 5px;
}

/**PhotoPost Stuff**/