/**Base Containers**/

#RighthandContainer{
    position: sticky;
    top: 58px;
    right: 0; 
    width: 520px; 
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - 58px);
}

#RighthandContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #555;
    display: none;
  }
  
  #RighthandContainer::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    display: block;
  }
  
  #RighthandContainer::-webkit-scrollbar {
    width: 10px; 
    background-color: rgb(32, 32, 37); 
  }

#FriendMessagesContainer{
    padding-top: 15px;
    background-color: rgb(32, 32, 37);
}

/**Contacts denotation Bar Container**/

#ContactsSearchMenuContainers{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#ContactsSearchMenuContainers img{
    width: 30px;
}

#MessagesSearchButton{
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
}

#MessegesMenuButton{
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
}

#MessegesMenuButton:hover,#MessagesSearchButton:hover{
    background-color: #555;
}

#messagesSearchContainer{
    padding-right: 15px;
}

#Contacts{
    background-color: rgb(32, 32, 37);
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding-left: 14px;
    border-radius: 15px;
}

#Contacts p{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ContactsContainers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/**friends Stuff**/

.containers{
    align-items: center;
    
}

.containers :hover{
    background-color: rgb(70, 70, 82);
}

.FriendsButtonStyles {
    background-color: rgb(32, 32, 37);
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding-left: 14px;
    border-radius: 15px;
    cursor: pointer;
}

.FriendsButtonStyles img {
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    width: 25px; 
    vertical-align: middle;
}

.FriendsButtonStyles p {
    padding-left: 11px;
    font-size: 16px;
    margin: 0;
    padding-top: 13px;
    padding-bottom: 13px;
}

/**   **/

#GroupChats {
    display: flex;
    justify-content: space-between;
    align-items: center; 

}

#GroupChatsContainer {
    display: flex;
    width: 100%; 
    justify-content: space-between;
    align-items: center; 
    border-top: 1px solid rgb(92, 92, 92);
}

#GroupChatsName{
    color: aliceblue;
    padding-left: 17px;
    font-size: 18px;
}

